@inject IMycropadDevice Device
@implements IDisposable

<footer class="p-2 mb-1 select-none">
    @if (Device.Connected)
    {
        <div class="rounded-md bg-green-400 text-white max-w-min px-3 py-1">
            Connected
        </div>
    }
    else
    {
        <div class="rounded-md bg-red-400 text-white max-w-min px-3 py-1">
            Disconnected
        </div>
    }
</footer>

@code {
    private bool _connected = false;

    protected override void OnInitialized()
    {
        Device.OnDeviceConnected += DeviceStatusChange;
        Device.OnDeviceDisconnected += DeviceStatusChange;
    }

    public void Dispose()
    {
        Device.OnDeviceConnected -= DeviceStatusChange;
        Device.OnDeviceDisconnected -= DeviceStatusChange;
    }

    void DeviceStatusChange()
    {
        _connected = Device.Connected;
        _ = InvokeAsync(StateHasChanged);
    }

}