@inject IMycropadDevice _device
@implements IDisposable

<footer class="p-2 mb-1">
    @if (_device.Connected)
    {
        <div class="rounded-md bg-green-400 text-white max-w-min px-3 py-1">
            Connected
        </div>
    }
    else
    {
        <div class="rounded-md bg-red-400 text-white max-w-min px-3 py-1">
            Disconnected
        </div>
    }
</footer>

@code {
    private bool _connected = false;

    protected override void OnInitialized()
    {
        _device.OnDeviceConnected += DeviceStatusChange;
        _device.OnDeviceDisconnected += DeviceStatusChange;
    }

    public void Dispose()
    {
        _device.OnDeviceConnected -= DeviceStatusChange;
        _device.OnDeviceDisconnected -= DeviceStatusChange;
    }

    void DeviceStatusChange()
    {
        _connected = _device.Connected;
        _ = InvokeAsync(StateHasChanged);
    }

}