<footer class="p-2 mb-1">
    @if(IsConnected)
    {
        <div class="rounded-md bg-blue-500 text-white max-w-min px-3 py-1">
            Connected
        </div>
    } else
    {
        <div class="rounded-md bg-red-400 text-white max-w-min px-3 py-1">
            Disconnected
        </div>
    }
</footer>

@code {
    public bool IsConnected { get; set; }
}
