<div 
    class="transition duration-250 ease-in-out bg-white dark:bg-gray-600 hover:bg-blue-300 text-gray-400 hover:text-white shadow-lg rounded-3xl flex justify-center items-center w-32 h-32 m-2 p-2"
    @onclick='() => Clicked?.Invoke(Key)'>
    <span class="text-xs text-center">
    @if(KeyCodes.Count() == 1)
    {
        @KeyCodes.First().ToMacroString()
    }
    else
    {
        <span>
        Macro
        </span>
    }
    </span>
</div>

@code {
    [Parameter] public Keys Key { get; set; }

    [Parameter] public IEnumerable<KeyCode> KeyCodes { get; set; }

    [Parameter] public Func<Keys, Task> Clicked { get; set; }
}
