<div class="bg-white shadow-lg rounded-3xl flex justify-center items-center w-32 h-32 m-2"
    @onclick='() => Clicked?.Invoke(Key)'>
    @KeyCodes?.First()?.ToString();
</div>

@code {
    [Parameter] public Keys Key { get; set; }

    [Parameter] public IEnumerable<KeyCode> KeyCodes { get; set; }

    [Parameter] public Func<Keys, Task> Clicked { get; set; }
}
