@inject ProfileManager _profileManager
@implements IDisposable

@if (Profile.Keymap.Count > 0)
{
    <div class="grid grid-rows-3 grid-flow-col">
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key1]" Clicked="() => UiClicked(Keys.Key1)"/>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key3]" Clicked="() => UiClicked(Keys.Key3)"/>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key5]" Clicked="() => UiClicked(Keys.Key5)"/>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key2]" Clicked="() => UiClicked(Keys.Key2)"/>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key4]" Clicked="() => UiClicked(Keys.Key4)"/>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key6]" Clicked="() => UiClicked(Keys.Key6)"/>
        <div class="flex justify-center items-center row-span-2 col-span-2">
            <KeyboardEncoder Clicked="UiClicked"/>
        </div>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key7]" Clicked="() => UiClicked(Keys.Key7)"/>
        <KeyboardButton KeyRecord="Profile.Keymap[Keys.Key8]" Clicked="() => UiClicked(Keys.Key8)"/>
    </div>
}

@code {

    [CascadingParameter]
    public IModalService Modal { get; set; }

    [Parameter]
    public KeyProfile Profile { get; set; }

    protected override void OnInitialized()
    {
        _profileManager.OnProfilesUpdated += RefreshKeyMap;
    }

    protected override async Task OnParametersSetAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _profileManager.OnProfilesUpdated -= RefreshKeyMap;
    }

    private Task RefreshKeyMap()
    {
        return InvokeAsync(StateHasChanged);
    }

    private async Task UiClicked(Keys key)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ButtonModal.Key), key);
        parameters.Add(nameof(ButtonModal.KeyRecord), Profile.Keymap[key]);

        var options = new ModalOptions
        {
            HideCloseButton = true,
            Class = "modal-window",
        };

        var modal = Modal.Show<ButtonModal>($"{key} settings", parameters, options);
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            Profile.Keymap[key] = (KeyRecord) result.Data;
            _profileManager.UpdateProfile(Profile);
        }
    }

}