@inject DeviceManager _deviceManager
@inject ProfileManager _profileManager

<div class="flex flex-col h-full">
    <div class="flex flex-row py-4">
        <ConfirmButton
            Clicked="ResetKeymapClick"
            Text="Reset keymap">
        </ConfirmButton>
    </div>
    <div class="flex flex-row">
        <ConfirmButton
            Clicked="ResetProfilesClick"
            Text="Reset profiles">
        </ConfirmButton>
    </div>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    async Task ResetKeymapClick()
    {
        _deviceManager.ResetKeymap();
        await ModalInstance.CloseAsync();
    }

    async Task ResetProfilesClick()
    {
        _profileManager.Reset();
        await ModalInstance.CloseAsync();
    }
}